.wholeBodyContainer{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: rgb(243,243,243)
}

.firstContainer{
    width: 100%;
}

.sidebar-book-section{
    position: fixed;
    overflow: auto;
    right: 46.6667px;
    background-color: #F4F4F4;
    top: 4rem;
    width: 26%;
    height: 400px;
    width: 340px;
    z-index: 100;
}