.MenuRestaurant_Container {
    width: 63%;
    background-color: #fff;
    padding: 10px;
    /* display: inline-block;
    vertical-align: left; */
    margin-bottom: 10px;
  }
  
  .MenuRestaurant_Head {
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    text-align: left;
  }
 
  
  .MenuRestaurant_Img img {
    width: 100px;
    margin-top: 10px;
    height:80px;
  }
  
  .MenuRestaurant_Img img:hover {
    transform: scale(5);
    transition: transform 0.2s;
    width: 500px;
    height:700px;

    position: relative;
    transform: translateY(-50%);
  }
  .facilities {
    padding: 25px 0 0 0;
    flex-wrap: wrap;
    display: flex;
}
ul{
  text-decoration: none;
  list-style: none;
}
.facilities li {
  width: 33%;
  padding: 0 10px 10px 0;
  color: #757575;
}
.facilities li img {
  width: 22px;
  margin-right: 10px;
}