.breadcrumbs{
  float: left;
  margin-left:0%;
  padding: 0;
}

.breadcrumbs li a {
  text-decoration: none;
  font-size: 0.85rem;
}
.breadcrumbs li i {
    font-size: 0.65rem;
    color: rgb(121, 113, 113);
}
.breadcrumbs li {
  margin-right: 5px;
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: left;
  text-transform: capitalize;
}


.detailDiv .rdp-banner {
  border-radius: 5px;
}



.slick-list img {
  width: 100%;
  border-radius: 4px;
}
.rdp-section {
  background: #fff;
  border-radius: 4px;
  padding: 12px;
  text-align: left;
}
.restnt-details_info {
  color: #696969;
  width: 100%;
  text-align: left;
}
.restnt-details_info h1 {
  font-size: 22px;
  color: #202020;
}
.restnt-details_info .restnt-cost {
  padding: 7px 0;
}
.restnt-details_info .restnt-cost a {
  color: #979797;
}
.text-ltgrey {
  color: #696969;
}
.restnt-details_info .timing {
  padding: 7px 0 0 0;
}
a {
  text-decoration: none;
}
.rdp-restnt-rating {
  flex-shrink: 0;
  text-align: right;
  position: relative;
  top: 10px;
}
.rest-rating {
  border-radius: 4px;
  background: #5ba727;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 700;
}
.restnt-details_info {
  color: #fffefe;
  padding-right: 25px;
  width: 100%;
}
