.rdp-section {
    background: #fff;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
}
.rdp-section h2 {
    font-size: 18px;
    padding-bottom: 12px;
}
.rdp-section p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}
.similar-restaurants ul {
    display: flex;

    vertical-align: middle;

}
.similar-restaurants ul li {
width:250px !important;

    cursor: pointer;
    float: left;
}
.similar-restaurants ul li .deal-card-wrap {
    box-shadow: none;
    background: #fff5da;
    height: 250px !important;
    margin: 1rem;
}
.deal-card-wrap {
    border-radius: 3px;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    white-space: normal;
    background-color: #fff;
}
.deal-card-wrap .img-wrap {
    height: 150px;
}
.deal-card-wrap .img-wrap img {
    width: 100%;
    height: 100%;
    display: block;
}
.deal-card-wrap .detail-wrap {
    padding: 0 15px;
}
.deal-card-wrap .deal-info {
    display: flex;
    justify-content: space-between;
}
.deal-card-wrap .deal-info .left {
    min-width: 0;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fs12 {
    font-size: 12px!important;
}
.similar-restaurants ul li .right {
    width: 55px;
    margin-top: 15px;
}
.deal-card-wrap .deal-info .right {
    margin-left: 15px;
}
.rating-5 {
    color: #67ba2a;
}
.txt-green-alt {
    color: #67ba2a;
    margin-bottom: 4px;
}