.box{
    border-bottom:1px solid rgb(216,216,216);
    height:60px;
    display: flex;
    margin-left: 10px;
    
  }
  
  .box div:nth-child(1){
    /* border: 2px solid black; */
    flex:10%;
    padding:10px;

    height: 30px;
  }
  .box div:nth-child(2){
    /* border: 2px solid black; */
    flex:20%;
    padding:10px
  }
  .box div:nth-child(3){
    /* border: 2px solid black; */
    flex:70%;
    padding:10px
  }
  .box div:nth-child(4){
    /* border: 2px solid black; */
    flex:10%;
    padding:10px;
    padding-right:30px;
  }
  
  
  .search{
    height:21px;
    width: 70%;
  }
  
  .links {
    position: sticky;
    top: 0px;
    background-color: white;
  
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    border-bottom: 2px solid rgb(216,216,216);
    box-shadow: 0px 2px 10px rgb(216 216 216);
  }
  .links > div {
    display: flex;
    justify-content: center;
  }

  
  a {
    text-decoration: none;
    
    color: rgb(252, 97, 97);
   color: black;
    margin: 5px 15px;
  }


  a:hover{
    color: rgb(252, 97, 97);
  }


  a:focus{
    color: rgb(252, 97, 97); 
  }