.title{

    display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      background-color: rgb(51, 51, 51);
      color: rgb(255, 255, 255);
      height: 74px;
      width: 300px;
      font-size: 12px;
      margin: auto;
      border-radius: 4px 4px 0px 0px;
  
  }

   .guest__count--parent {
    display: flex;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    margin: 1px 0px;
}





.focused__zone {
  color: rgb(53, 149, 255);
  font-weight: 700;
  box-shadow: rgb(53 149 255) 0px -4px 0px inset;
}




 .show__times--parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 72px;
    margin: 8px 89px 16px 22px !important;
}