.input_search ::placeholder{
    color: #66667F;
    font-size: 20px;
}
.input_search{
    display: flex;
    justify-content: space-between;
}

.searchOuterBox{
    width: 70%;
    text-align: center;
}

.homepageDiscImg img{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
